@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
.wrapper-container {
  background-color: #f4f6ff;

  background-color: #f4f6ff;

  padding: 2px;
}
.blog-template {
  font-size: 16px;
  width: 70%;
  margin: 20px auto;

  padding: 25px;
  border-radius: 8px;

  border: 2px solid black;
  background-color: white;
  color: black;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 2.7em;
}

.author {
  text-align: center;
}
.image {
  width: 40%;
  margin: 20px auto;
}
.image img {
  width: 100%;
  border-radius: 7.5px;
}

.description p {
  font-size: 1.3em;
  line-height: 1.8;
  word-spacing: 7px;
}

@media only screen and (max-width: 998px) {
  .blog-template {
    width: 80%;
    font-size: 15px;
    padding: 20px;
  }
  .image {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .blog-template {
    width: 90%;
    font-size: 14px;
    padding: 15px;
  }
  .image {
    width: 60%;
  }
}
@media only screen and (max-width: 567px) {
  .blog-template {
    width: 95%;
    font-size: 13px;
    padding: 8px;
  }
  .image {
    width: 70%;
  }
}
